<div class="perfume_article">
<h1>クレジットカード</h1>

<h3>◆クレジットカードってなに？</h3><br>
<li>　クレジットカードとは、クレジットカード所有者の信用＝（credit）をもとに、商品等を後払いで購入できるカードのことです。<br>
<br>
　たとえば、あなたが本屋で商品をクレジットカードで購入したとします。このとき、あなたのお財布・銀行口座からまだお金は減っていません。クレジットカードは後払いなので、この段階では、あなたの代わりに、クレジットカードを発行した会社が本屋に商品の代金を払っているんです。その後、クレジットカード会社からあなたがクレジットカードで支払った分の金額が請求されてます。つまり、商品購入後、お店→クレジットカード会社→あなたの順番で代金が請求されているということです！<br>
<br>
　クレジットカードを使うメリットは、<br>
・今お財布に現金がなくても買い物ができる<br>
・クレジットカードを使った分、クレジットカード会社からポイントを付与される<br>
・インターネットで買い物しやすい<br>
・クレジットカード自体に何かのサービス・特典が付いている場合がある<br>
などがあります。特にポイント制度は現金払いよりも大きなメリットですね！ </li>



<h3>◆クレジットカードのオススメの選び方</h3><br>
<p>　以下のポイントで選ぶとあなたにピッタリのカードが選べるはず…！<br>
<br>
　◆年会費<br>
　永年年会費無料（＝何年持っていても年会費が無料）、条件付きで年会費無料、初年度のみ無料など、いろいろな種類があるので自分にピッタリなものを選びましょう！特にこだわりがない場合は永年年会費無料がオススメです！<br>
<br>
　◆ポイントの還元率<br>
　クレジットカードを使った分の金額の一部が、ポイントとして還元される仕組みのカードが多いです。還元される比率には、0.5％や1.0％、それ以上など様々です。ポイントの還元率の高さで選ぶのもオススメですよ！<br>
　例）ポイント還元率が1.0％のクレジットカードで１万円支払った　→　１万円 × 0.01 ＝ 100　→　100ポイントをゲット！<br>
<br>
　◆カードの特典・優遇サービス<br>
　カードによっては、特定の店舗のサービスが割引になったり、ポイント還元率が高くなったりと様々な特典があります。自分が良く使う店舗・サービスに対する得点・優遇があるかチェックして選ぶのもオススメです！<br>
<br>
　いかかだったでしょうか？あなたにピッタリのカード選びの参考になれば嬉しいです！</p>
</div>