<div class="perfume_article">
<h1>確定申告の記事</h1>
<h3>◆確定申告ってなに？</h3><br>
<%= link_to '国税庁の確定申告特集サイト', 'https://www.nta.go.jp/taxes/shiraberu/shinkoku/tokushu/index.htm' %>

<h3>◆確定申告が必要かどうか分からない…</h3><br>
<%= button_to "診断を始める", new_perfume_path, method: :get %>

<h3>◆確定申告ってどうやるの？</h3><br>
</div>