<div class="perfume_article">
<h1>確定申告</h1>
</div>
<div class="perfume_article2">
<h3>◆確定申告ってなに？</h3><br>
<li>　国税庁によると、確定申告とは、「毎年1月1日から12月31日までの1年間に生じた所得の金額とそれに対する所得税の額を計算し、源泉徴収された税金や予定納税額などがある場合には、その過不足を精算する手続」と説明されています。<br>
<br>
　ざっくり言うと、<br>
・あなたが"その年の1月1日から12月31日までの1年間で得たすべての金額"＆"その金額にかかる税金の額"を計算する<br>
・これを報告することで、最終的にあなたが払う税金の金額が確定する<br>
・払いすぎていた税金は戻ってくるし、これから払うべき税金があったら支払うことが決まる<br>
　という仕組みです！<br>
<br>
　確定申告の手続きをする期間は、毎年２月中旬～３月中旬です。なので、2023年1月～12月分の申告を2024年2月～3月に行うようなスケジュールですね！<br>
<br>
　さらに詳しく知りたい方は、こちらの国税庁の特集サイトをCheck！<br>
<%= link_to '▶国税庁の確定申告特集サイト', 'https://www.nta.go.jp/taxes/shiraberu/shinkoku/tokushu/index.htm', class: "tokusyusite" %></li>

<h3>◆確定申告すべきか分からない…</h3><br>
<p>　簡単に結論からお伝えすると、<br>
　・アルバイトを掛け持ちしていない方<br>
　・アルバイトを掛け持ち or 副業をしているが、掛け持ち先のアルバイト・副業等で稼いだ金額が20万円以下の方<br>
は確定申告が必須ではない可能性が高いです。<br>
<br>
　アルバイトをしていると、10～12月頃にアルバイト先で「年末調整」という手続きを行うことになります。ざっくり言うと、年末調整とはそのアルバイト先で今年１年間で稼いだ金額を確定し、あなたが払いすぎていた税金を払い戻す・さらに払うべき税金があったら支払う仕組みです。<br>
　これ、先ほど説明した確定申告の仕組みと似ていますよね！簡単に言えば、年末調整という仕組みはアルバイト先があなたの代わりに確定申告をしてくれているようなもの。また、法律により、掛け持ち先や副業等で得た金額が20万円以下なら確定申告の必要がないと定められています。だから、年末調整をしてる＆上の２つの条件にあてはまる方は基本的に確定申告を改めて行う必要がありません。<br>
<br>
　ただ、アルバイトを掛け持ちしている・副業をしている方は、確定申告をした方がお得になる可能性が高いです！というのも、年末調整で調整される税金はアルバイト先で稼いだ金額分のみ、つまり掛け持ち先・副業で払った税金は戻ってこないんです…。払いすぎた税金を返してもらうには確定申告の必要があるので、当てはまる方はぜひ申告するのがオススメです！<br>
<br>
▼確定申告が必須？必須じゃないけどお得になるかも？をより詳しく診断できるページはこちらから！<br></p>
<%= button_to "診断を始める", new_perfume_path, method: :get, class: "perfume_shinndanbutton" %>

<h3>◆確定申告ってどうやるの？</h3><br>
<div class="perfume_article2-2">
<li>　確定申告をするために用意しておく書類は、たとえば源泉徴収票（アルバイト先から1月頃にもらえます）など、あなたが稼いだ金額・支払った税額が分かるものがあれば基本的に大丈夫です！（ちなみに源泉徴収票は申告の際に使うだけで、
税務署へ提出する必要はありません。）<br>
<br>
　確定申告は国税庁のウェブサイト上にある「確定申告書等作成コーナー」サイトで作成します。サイト内で質問に答えるかたちで金額等を入力していけば申告書が作成できますよ！作成方法や入力方法も分かりやすい動画や画像で説明されています！<br>
　確定申告書が作成できたら、いよいよ提出です！マイナンバーカードを持っている方はe-Taxというサイト上から、マイナンバーカードを持っていない方は書類を印刷してお住いの地域の税務署に手渡しor郵送して、提出完了です！<br>
　払いすぎていた税金がある場合は、4～6月頃に申請した銀行口座に振り込まれますよ！<br>
<br>
　詳しくは上でも紹介した国税庁のウェブサイトをご覧ください！<br>
<%= link_to '▶国税庁の確定申告特集サイト', 'https://www.nta.go.jp/taxes/shiraberu/shinkoku/tokushu/index.htm', class: "tokusyusite" %></li>
</li>
</div>
</div>