<div class="perfume">
<h1>確定申告の記事</h1>

<%= link_to '国税庁の確定申告特集サイト', 'https://www.nta.go.jp/taxes/shiraberu/shinkoku/tokushu/index.htm' %>

<%= button_to "診断を始める", new_perfume_path, class: "link", method: :get %>

</div>


