<div class="perfume_article">
<h1>NISA</h1>
<h3>◆NISAってなに？</h3><br>
<h3>◆NISAの始め方</h3><br>
<h3>◆NISAの開設口座のおすすめの選び方</h3><br>
<%= link_to '金融庁のNISA特設サイト', 'https://www.fsa.go.jp/policy/nisa2/' %>
</div>