<div class="perfume_article">
<h1>NISA</h1>
</div>
<div class="perfume_article3">
<h3>◆NISAってなに？</h3><br>
<li>　金融庁によると、NISA（ニーサ）とは少額からの投資を行う方のために2014年1月にスタートした「少額投資非課税制度」のこと。NISA用の口座を開設し、定められた上限金額内（最大1800万円）で投資する場合、NISAによる投資で得た利益には税金がかからないよ！という仕組みです。通常の投資では利益の20％を税金として納めないといけないので、かなりお得ですよね！<br>
<br>
　NISAには「つみたて投資枠」と「成長投資枠」の２つの区分があり、併用も可能です。詳しく違いを説明するとこんな感じです！<br>
<br>
◆つみたて投資枠<br>
・１年間で投資できる上限は120万円<br>
・NASA口座で非課税になる上限金額は1800万円（1800万円ー成長投資枠で投資した金額＝つみたて投資枠の上限金額）<br>
・投資先は「長期の積み立て・分散投資に適した一定の投資信託」（金融庁の基準を満たしたものだけが選択肢にあがるので、安全性が高いです！）<br>
<br>
◆成長投資枠<br>
・１年間で投資できる上限は240万円<br>
・NASA口座で非課税になる上限金額は1200万円<br>
・投資先は「上場株式・投資信託等」<br>
<br>
　簡単に言うと、つみたて投資は長期の分散投資形式（いろんなところに投資する）の銘柄を選べて、成長投資は分散投資形式と株式から銘柄を選べる（いわゆる一般的な投資家のイメージに近いかも）という違いがあります。<br>
　投資初心者＆少額から投資したい＆長期で保有・運用したいという場合は、つみたて投資枠から始めてみるのがオススメです！</li>

<h3>◆NISAって危ない？</h3><br>
<p>　投資って危ないかも…と不安な方もいるはず。投資した金額よりも少ない金額になったら損をしてしまうのでは…と思うと不安ですよね。<br>
<br>
　最初にお伝えすると、つみたてNISAで資産を運用する中で、投資したお金＆利益が0円になったことはありました。（1か月後には元の金額に戻っていたのでご安心を！）<br>
　ただ、つみたてNISAの仕組みを考えると最終的にお得になる（投資した金額による利益がある）可能性が高いです！<br>
<br>
　投資の仕組みとして、リスクが高いほどリターン（資産運用により利益が得られる率）が高く、リスクが低いほどリターンが低いという性質があります。危険なものほど成功した時にリターンが大きくて、安全なものほどリターンが小さいというイメージですね！<br>
　さて、NISAの仕組みに戻って考えてみましょう。ここでは初心者の方向けにつみたてNISAで説明します。<br>
<br>
<br>
　つみたてNISAは、<br>
・低リスク＆低～中リターンの銘柄から選ぶ<br>
　投資先の銘柄は長期＆分散投資に適していると金融庁が認めた銘柄なので、安全性が高く優良な銘柄から選べる<br>
<br>
・長期で運用する<br>
　世界の経済が成長するのと一緒に成長する、元本割れを起こす可能性が低い、元本割れが起きても長期運用の中でリカバーできる<br>
<br>
・分散投資<br>
　いろいろなところに投資している銘柄に投資するので、元本割れを起こす可能性が低い、元本割れが起きても運用の中でリカバーできる<br>
　（たとえば、ヨーロッパ経済の調子が悪くて投資利益がでなくても、アメリカや日本にも投資していたらリカバーできる可能性が高い、というイメージです）<br>
<br>
<br>
　つまり、かなりざっくり言うと、ひとつの分散投資銘柄を選んで投資＆長期でほっとけば利益が出ている、という仕組みになります！
</p>

<h3>◆NISAの始め方</h3><br>
<p>
　NISAを始めるには、まず金融機関でNISA用の口座開設をする必要があります。<br>
　口座開設後、投資先の銘柄を選んだり、投資金額の設定（毎年一括で払う・月ごとに支払う等も決められますよ）をしたら、いよいよNISAの運用が始まります！<br>
 <br>
　NISAの制度や始め方について、もっと詳しく知りたい方はぜひこちらの金融庁の特設サイトをCheck！<br>
<%= link_to '▶金融庁のNISA特設サイト', 'https://www.fsa.go.jp/policy/nisa2/', class: "tokusetsusite" %>
</p>
</div>