<div class="intoro">
  <h5>診断結果</h5>
  <p>あなたは確定申告をする必要が……</p>
</div>
<div class="perfume-container">
  <% case [@perfume.question1, @perfume.question2, @perfume.question3] %>
  <% when ["1", "1", "1"] %>
    <h6>ある</h6>
    <p>1年の収入が2,000万円を超える場合は確定申告が必要</p>

    <% when ["1", "1", "2"] %>
    <h6>ある</h6>
    <p>年末調整をしていない給与収入・その他所得の合計額が20万円を超える場合は確定申告が必要</p>

  <% when ["1", "1", "3"] %>
    <h6>ないが、確定申告をするとお得になる可能性がある</h6>
    <p>たとえば、1年間で支払った医療費が10万円、もしくは総所得の5％以上の金額なら、確定申告を通じて払いすぎた所得税が戻ってくる</p>
    <p>また、上場株式等を売却したときの金額が購入した時の金額より低かった（＝損をした）場合、確定申告を通じて他の上場株式等の利益と相殺できるので、その分支払う税金を減らせることになる</p>
  
  
    <% when ["1", "2", "1"] %>
    <h6>ある</h6>
    <p>1年の収入が2,000万円を超える場合は確定申告が必要</p>

    <% when ["1", "2", "2"] %>
    <h6>ある</h6>
    <p>年末調整をしていない給与収入・その他所得の合計額が20万円を超える場合は確定申告が必要</p>

  <% when ["1", "2", "3"] %>
    <h6>ないが、確定申告をするとお得になる可能性がある</h6>
    <p>たとえば、1年間で支払った医療費が10万円、もしくは総所得の5％以上の金額なら、確定申告を通じて払いすぎた所得税が戻ってくる</p>
    <p>また、上場株式等を売却したときの金額が購入した時の金額より低かった（＝損をした）場合、確定申告を通じて他の上場株式等の利益と相殺できるので、その分支払う税金を減らせることになる</p>

  
    <% when ["2", "1", "1"] %>
    <h6>ある</h6>
    <p>1年の収入が2,000万円を超える場合は確定申告が必要</p>

    <% when ["2", "1", "2"] %>
    <h6>ある</h6>
    <p>年末調整をしていない給与収入・その他所得の合計額が20万円を超える場合は確定申告が必要</p>

    <% when ["2", "1", "3"] %>
    <h6>ないが、確定申告をするとお得になる可能性がある</h6>
    <p>たとえば、1年間で支払った医療費が10万円、もしくは総所得の5％以上の金額なら、確定申告を通じて払いすぎた所得税が戻ってくる</p>
    <p>また、上場株式等を売却したときの金額が購入した時の金額より低かった（＝損をした）場合、確定申告を通じて他の上場株式等の利益と相殺できるので、その分支払う税金を減らせることになる</p>


    <% when ["2", "2", "1"] %>
    <h6>ある</h6>
    <p>1年の収入が2,000万円を超える場合は確定申告が必要</p>

    <% when ["2", "2", "2"] %>
    <h6>ある</h6>
    <p>年末調整をしていない給与収入・その他所得の合計額が20万円を超える場合は確定申告が必要</p>

    <% when ["2", "2", "3"] %>
    <h6>ないが、確定申告をするとお得になる可能性がある</h6>
    <p>たとえば、1年間で支払った医療費が10万円、もしくは総所得の5％以上の金額なら、確定申告を通じて払いすぎた所得税が戻ってくる</p>
    <p>また、上場株式等を売却したときの金額が購入した時の金額より低かった（＝損をした）場合、確定申告を通じて他の上場株式等の利益と相殺できるので、その分支払う税金を減らせることになる</p>

    <% when ["3", "1", "1"] %>
    <h6>ある</h6>
    <p>1年の収入が2,000万円を超える場合は確定申告が必要</p>

    <% when ["3", "1", "2"] %>
    <h6>ある</h6>
    <p>年末調整をしていない給与収入（たとえば掛け持ち先のバイトの収入など）・その他所得の合計額が20万円を超える場合は確定申告が必要</p>

    <% when ["3", "1", "3"] %>
    <h6>ないが、確定申告をするとお得になる可能性がある</h6>
    <p>たとえば、掛け持ち先のバイトの給与収入で、支払いすぎていた税金が戻ってくる可能性がある</p>
    <p>※掛け持ち先のバイトでは年末調整を行えないので、源泉徴収という仕組みで事前に給与から引かれた税金が、そのままになっている可能性がある</p>
    <p>その他にも、1年間で支払った医療費が10万円、もしくは総所得の5％以上の金額なら、確定申告を通じて払いすぎた所得税が戻ってくる</p>
    <p>また、上場株式等を売却したときの金額が購入した時の金額より低かった（＝損をした）場合、確定申告を通じて他の上場株式等の利益と相殺できるので、その分支払う税金を減らせることになる</p>


    <% when ["3", "2", "1"] %>
    <h6>ある</h6>
    <p>1年の収入が2,000万円を超える場合は確定申告が必要</p>

    <% when ["3", "2", "2"] %>
    <h6>ある</h6>
    <p>年末調整をしていない給与収入（たとえば掛け持ち先のバイトの収入など）・その他所得の合計額が20万円を超える場合は確定申告が必要</p>

    <% when ["3", "2", "3"] %>
    <h6>ないが、確定申告をするとお得になる可能性がある</h6>
    <p>たとえば、掛け持ち先のバイトの給与収入で、支払いすぎていた税金が戻ってくる可能性がある</p>
    <p>※掛け持ち先のバイトでは年末調整を行えないので、源泉徴収という仕組みで事前に給与から引かれた税金が、そのままになっている可能性がある</p>
    <p>その他にも、1年間で支払った医療費が10万円、もしくは総所得の5％以上の金額なら、確定申告を通じて払いすぎた所得税が戻ってくる</p>
    <p>また、上場株式等を売却したときの金額が購入した時の金額より低かった（＝損をした）場合、確定申告を通じて他の上場株式等の利益と相殺できるので、その分支払う税金を減らせることになる</p>
  <% end %>
</div>

<%= link_to "診断ページに戻る", perfumes_path %>
<%= link_to "トップページに戻る", root_path %>