/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    padding: 0;
    margin: 0;
  }

  .link{
    text-decoration: none;
  }

  body {
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  }

  header {
    background: linear-gradient(180deg,#E0D6CC 0%, #E0D6CC 30%, #FFFFFF 30%, #FFFFFF 100%);
    height: 80px;
    font-family: "Kaisei Decol", serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  header a {
    color: rgb(60, 55, 55); 
    text-decoration: none; 
  }
  header h1 {
    color: rgb(60, 55, 55);
    margin-left: 2%;
    font-size: 15px;
  }
  .header-list {
    display: flex;
    align-items: center;
  }
  header ul {
    display: flex;
  }
  header li {
    list-style: none;
    margin-right: 40px;
    font-size: 15px;
  }
  
  main {
    min-height: 100vh;
    text-align: center;
    padding-bottom: 100px;
  }

  .top{
    display: flex;
  }

  .image{
    margin-left: 5%;
  }

  .title{
    color: #90BDDA;
    margin-top: 11%;
    margin-bottom: 1%;
    margin-left: 0%;
    height: 10%;
    width: 50%;
    align-items: center;
    font-family: "Kaisei Decol", serif;
    font-size:40px;
    font-style: normal;
    line-height: 0.8;
    text-shadow: 1px 1px 3px #bcc4c9;
  }

  .article{
    color: #FFFFFF;
    background-color: #90BDDA;
    margin-top: 11%;
    margin-left: 5%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 40px;
    width: 10%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Kaisei Decol", serif;
    font-size: 30px;
    font-style: normal;
  }

  .shindan h3{
    color: #FFFFFF;
    margin-top: 11%;
    margin-left: 5%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 40px;
    background-color: #90BDDA;
    width: 10%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Kaisei Decol", serif;
    font-size: 30px;
    font-style: normal;
  }

  .toukou h3{
    color: #FFFFFF;
    margin-top: 11%;
    margin-left: 5%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 40px;
    background-color: #90BDDA;
    width: 10%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Kaisei Decol", serif;
    font-size: 30px;
    font-style: normal;
  }

  footer {
    color: #FFFFFF;
    height: 30px;
    background-color: #DA7972;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: flex-end;
    font-family: "Kaisei Decol", serif;
    font-weight: 700;
    font-style: normal;
  }

  .article1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }

  .link{
    position: relative;
    margin-top: 4%;
    margin-left: 5%;
    width: 300px;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #333;
    background-color: #E0D6CC;
    font-family: "Kaisei Decol", serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s;
    align-items: center;
  }
  
  .link:hover {
    color: #f2f2f2;
  }

  .link::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: rotate(45deg) translateY(-50%);
    width: 6px;
    height: 6px;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: #333;
  }
  
  .link:hover {
    background-color: #bcc4c9;
  }
  
  .link:hover::after {
    border-color: #f2f2f2 #f2f2f2 transparent transparent;
  }

  .link1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin-top: 4%;
    margin-left: 8.6%;
    width: 600px;
    height: 200px;
    color: #333;
    background-color: #E0D6CC;
    font-family: "Kaisei Decol", serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .link1:hover {
    color: #f2f2f2;
  }

  .link1::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: rotate(45deg) translateY(-50%);
    width: 6px;
    height: 6px;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: #333;
  }
  
  .link1:hover {
    background-color: #bcc4c9;
  }
  
  .link1:hover::after {
    border-color: #f2f2f2 #f2f2f2 transparent transparent;
  }

  .link2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin-top: 4%;
    margin-left: 8.6%;
    width: 600px;
    height: 200px;
    color: #333;
    background-color: #E0D6CC;
    font-family: "Kaisei Decol", serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .link2:hover {
    color: #f2f2f2;
  }

  .link2::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: rotate(45deg) translateY(-50%);
    width: 6px;
    height: 6px;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: #333;
  }
  
  .link2:hover {
    background-color: #bcc4c9;
  }
  
  .link2:hover::after {
    border-color: #f2f2f2 #f2f2f2 transparent transparent;
  }