// Place all the styles related to the perfumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

perfume {
    text-align: center;
    margin: auto;
} 

.start{
    color: #FFFFFF;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    height: auto;
    background-color: #DA7972;
    width: 50%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Kaisei Decol", serif;
    font-size: 20px;
    font-style: normal;
}

.Q1{
    color: rgb(60, 55, 55);
    margin-left: 15%;
    margin-right: 20%;
    margin-bottom: 3%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 15px;
    height: auto;
    background-color: #E0D6CC;
    width: 60%;
    list-style: none;
    align-items: center;
    font-family: "Kaisei Decol", serif;
    font-size: 20px;
    font-style: normal;
    text-align: left;
}

.Q2{
    color: rgb(60, 55, 55);
    margin-left: 15%;
    margin-right: 20%;
    margin-bottom: 3%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 15px;
    height: auto;
    background-color: #E0D6CC;
    width: 60%;
    list-style: none;
    align-items: center;
    font-family: "Kaisei Decol", serif;
    font-size: 20px;
    font-style: normal;
    text-align: left;
}

.Q3{
    color: rgb(60, 55, 55);
    margin-left: 15%;
    margin-right: 20%;
    margin-bottom: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 15px;
    height: auto;
    background-color: #E0D6CC;
    width: 60%;
    list-style: none;
    align-items: center;
    font-family: "Kaisei Decol", serif;
    font-size: 20px;
    font-style: normal;
    text-align: left;
}   

.shindanbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 350px; /* ボタン幅 */
    height: 3.5em; /* ボタン高さ */
    background: #fff; /* 背景色 */
    position: relative;
  }
  
  .shadow_btn01 span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.5em;
    background: #fff; /* 背景色 */
    color: #000; /* 文字色 */
    font-weight: bold; /* 文字の太さ */
    letter-spacing: 0.1em;
    text-decoration: none;
    box-shadow: 0px 5px 12px #cad4e2, -6px -6px 12px #fff;
    border-radius: 10px;
    position: absolute;
    top: -5px;
    left: 0;
    transition-duration: 0.2s;
  }
  
  /* マウスオーバーした際のデザイン */
  .shadow_btn01:hover span {
    left: 0;
    top: 0;
    box-shadow: 0 0 4px #CAD4E2, -2px -2px 4px #FFF;
  }

.intoro h5{
    color: #FFFFFF;
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 30%;
    margin-bottom: 5%;
    height: auto;
    background-color: #DA7972;
    width: 30%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Kaisei Decol", serif;
    font-size: 40px;
    font-style: normal;
}

.perfume-container2{
    color: rgb(60, 55, 55);
    margin-left: 17%;
    margin-right: 20%;
    margin-bottom: 3%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 15px;
    height: auto;
    background-color: #E0D6CC;
    width: 60%;
    list-style: none;
    align-items: center;
    font-family: "Kaisei Decol", serif;
    font-size: 20px;
    font-style: normal;
    text-align: left;
}

.perfume-container2 h6{
    font-size: 30px;
    text-align: center;
}

.perfume_article h1{
    color: #FFFFFF;
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 20%;
    margin-bottom: 3%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 15px;
    height: auto;
    background-color: #DA7972;
    width: 30%;
    list-style: none;
    align-items: center;
    font-family: "Kaisei Decol", serif;
    font-size: 30px;
    font-style: normal;
    text-align: center;
}

.perfume_article h3{
    color: rgb(60, 55, 55);
    margin-left: 15%;
    margin-right: 20%;
    margin-bottom: 3%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 15px;
    height: auto;
    background-color: #E0D6CC;
    width: 60%;
    list-style: none;
    align-items: center;
    font-family: "Kaisei Decol", serif;
    font-size: 20px;
    font-style: normal;
    text-align: left;
}