// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.posts-container li {
    list-style: none;
}

.postsindex01 li {
    list-style: none;
}

.posts h1{
    color: #FFFFFF;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    height: 40%;
    background-color: #DA7972;
    width: 50%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Kaisei Decol", serif;
    font-size: 40px;
    font-style: normal;
}